<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="G8_Planet.Properties.Settings.SecureCoreConnectionString"
            connectionString="Data Source=laptop-y3y1z0\sqlexpress;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>